# Ignore Python cache and temp folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment or system files
.DS_Store
.env
*.env
*.log

# Ignore intermediate and large raster files
*.tif
*.tif.*
*.ovr
*.tfw
*.aux.xml

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore outputs (optional if reproducible)
outputs/

# Ignore VSCode settings (optional)
.vscode/
